@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50;
  }
  h1 {
    @apply text-xl tablet:text-2xl text-czarny;
  }
  h2 {
    @apply text-lg tablet:text-xl text-czarny;
  }
  p {
    @apply text-sm tablet:text-base text-szary;
  }
  hr {
    @apply my-3 desktop:my-6;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  input[type="checkbox"]:checked {
    background-color: #dc143c;
    border-color: #dc143c;
  }
  input[type="checkbox"]:checked::after {
    content: "✓";
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid white;
    -webkit-text-fill-color: #52525b;
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;
    transition: background-color 5000s ease-in-out 0s;
    color: white;
  }
}

@layer components {
  .page {
    @apply mx-auto tablet:max-w-screen-tablet desktop:max-w-screen-desktop px-3;
  }
  .full {
    @apply mx-auto max-w-full;
  }
  .page-main {
    @apply pt-16 min-h-screen;
  }
  .page-text {
    @apply mb-4;
  }
  .footer-text {
    @apply text-white text-sm tablet:text-base;
  }
  .footer-social {
    @apply size-5 tablet:size-6 text-white hover:text-red-800 transition duration-200;
  }
  .footer-icon {
    @apply size-5 tablet:size-6 text-white group-hover:text-red-800 transition duration-200;
  }
  .footer-link {
    @apply ml-1 group-hover:text-red-800 transition duration-200;
  }
  .mobile-button {
    @apply size-6 text-szary;
  }
  .logo-text {
    @apply h-1/2 text-sm text-szary tracking-tighter text-nowrap flex items-center;
  }
  .text-padding {
    @apply my-6 desktop:my-12;
  }
}

@layer utilities {
  .duration-250 {
    transition: all 0.25s;
  }
}
